<div class="container">
     <div class="row justify-content-center">
          <div class="col-6">
               <form action="/add" method="POST">
                    <div class="form-group">
                         <label for="author">Author:</label>
                         <input type="text" name="author" id="author" class="form-control" placeholder="nome do author">
                    </div>
                    <div class="form-group">
                         <label for="titulo">Título:</label>
                         <input type="text" name="titulo" id="titulo" class="form-control" placeholder="digite o título">
                    </div>
                    <div class="form-group green-border-focus">
                         <label for="frase">Frase:</label>
                         <textarea name="frase" id="frase" cols="30" rows="5" class="form-control" placeholder="digite aqui sua frase"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
               </form>
          </div>
     </div>
</div>

