<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
            <img src="/img/logo.png" alt="Logo FrotaDev" style="width: 140px;">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/cadastro">Cadastro</a>
                <a class="nev-item nav-link" href="/admin">Admin</a>
            </div>
        </div>
   </div>
</nav>